body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #0a5ffd;
    color: #fff;
    list-style: none;
    padding: 10px 80px;
   
    display: flex;
    justify-content:baseline;
  }
  
  
  
  nav ul {
    list-style: none;
    padding: 1% ;
    margin: 0;
    display: flex;
    justify-content: space-around;
    
  }
  nav li {
    padding: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  nav a:hover {
    color: #000000; 
    background-color: #27ff0a;
  }
  
  .customer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .customer-menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-style: italic; /* Apply font style to the links */
  }
  
  .customer-menu img {
    width: 25px; /* Set width for icons */
    height: 25px; /* Set height for icons */
  }
  
  #search-bar {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .customer-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
  }
  
  .customer-table th,
  .customer-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .customer-table th {
    background-color: #007BFF;
    color: #fff;
  }
  
  .customer-table a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .customer-table a:hover {
    text-decoration: underline;
  }
  
  .customer-table img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }
  